html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --_bg: #CFDDE5;
  --_txt: #1D4A69;
  --_dev: #aaa;
  --_lgnbtn: #AA274A;
  --_rescrbtn: #1D4A69;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: var(--_bg);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  min-height: 100vh;
}

header {
  background-color: white;
  padding: 20px;
  text-align: center;
  height: 75px;
}

.logo {
  height: 35px;
  display: inline-block;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-logo {
  display: block;
  margin: 40px auto 20px;
  max-width: 300px;
}

.password-wrapper {
  position: relative;
}

.eye-icon {
  position: absolute;
  font-size: 2em;
  right: 10px;
  cursor: pointer;
}

.forgot-password {
  display: block;
  margin-bottom: 20px;
  font-size: 0.9em;
  font-weight: bold;
  color: var(--_txt);
  text-decoration: none;
}

.reset-text {
  font-size: 24px;
  color: var(--_txt);
}

.help-text {
  text-align: center;
  font-size: 0.9em;
  color: var(--_txt);
}

.help-text a {
  color: var(--_txt);
  text-decoration: underline;
}

footer {
  margin-top: auto;
  text-align: left;
}

footer img {
  width: 150px;
  padding: 0;
  margin-left: 20%;
}

.login-form {
  max-width: 600px;
  margin: auto;
  background: transparent;
  padding: 20px;
}
.login-form label {
  display: block;
  margin: 10px 0 5px;
}
.login-form input {
  width: 100%;
  height: 50px;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 2px;
  font-size: 1em;
  background-color: white;
}

.login-btn {
  background-color: var(--_lgnbtn);
  color: white;
  padding: 15px 50px;
  border: none;
  width: auto;
  border-radius: 35px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  margin: 10px auto 20px;
  display: block;
}

.reset-btn, .create-account-btn {
  background-color: var(--_rescrbtn);
  color: white;
  padding: 15px 50px;
  border: none;
  width: auto;
  border-radius: 35px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  margin: 10px auto 20px;
  display: block;
}

.divider {
  text-align: center;
  margin: 10px 0;
  position: relative;
}
.divider::before, .divider::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: var(--_dev);
  top: 50%;
  width: 40%;
}
.divider::before {
  left: 0;
}
.divider::after {
  right: 0;
}

/*# sourceMappingURL=main.css.map */
